<button nz-button nzType="primary" (click)="showModal()">
    <span>Reservieren</span>
  </button>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Reservieren"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
  >

  <p>Reservierung im {{resname}} am {{resdate}} um  {{restime}}</p>
  <br><br>
    <input nz-input type="text" name="name" placeholder="Name">
    <br><br>
    <input nz-input type="text" name="mail" placeholder="E-Mail">
  </nz-modal>
