<nav id="navbartop" class="">

  <div class="menu-icon">
    <i nz-icon nzType="menu" nzTheme="outline" (click)="changeState()"></i>
  </div>

  <div class="logo">
    <a routerLink="/" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">HWR Restaurant</a>
  </div>

  <div (window:resize)="onResize($event)">
    <div *ngIf="toggleNav" id="menu-main" class="menu">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">Home </a>
        </li>
        <li>
          <a routerLink="/reservation" routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{exact: true}">Reservieren</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="arrow" (click)="arrowclick()" id="arrowButton">
  <div class="animated infinite bounce slow">
      <img src="../../assets/images/arrowDown.png" alt="pfeil" width="80em">
  </div>
</div>