<button nz-button nzType="primary" (click)="showModal()">
    <span>Reservierung ändern</span>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Reservierung ändern" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading">

    <p>Hier können Sie Ihre Reservierung anpassen</p>
    <br>
    <div>
        <app-datetimepicker [CurrentTime]="starttime" (notify)="getNewNotify($event)"></app-datetimepicker>
    </div>
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div *ngFor="let t of tableOptions" nz-col nzSpan="5">
            <app-table [(tableID)]="t.id" [(reserved)]="t.reserved" [(seatsInput)]="t.chairs"
                (notify)="getClickedTable($event)"></app-table>
        </div>
    </div>
    <br>
    <input nz-input type="text" name="name" placeholder="Name" (change)="nameinputChanged()" [(ngModel)]="inputname">
    <br>
    <div *ngIf="tableSelected || nameChanged">
		<button nz-button nzType="primary" (click)="updateReservation()">Ändern</button>
	</div>
</nz-modal>